.grafana-graphs-table {
  table-layout: fixed;
}

.control-label-group {
  width: 12em
}

.grafana-img {
    display: block;
    /* box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.55) !important; */
    border-radius: 5px;
}

a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #999;
}

a:hover { color: #777; }

.grafana-table {
  border-spacing: 0px;
}

.grafana-table td {
  padding: 0;
}

/* NAVIGATION */
.grafana-menu-navigation {
  list-style: none;
  padding: 0;
  width: 100px; 
  height: 30px; 
  margin: 0px;
  background: #FFF;
}

.grafana-menu-navigation, .grafana-menu-navigation a.main {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.grafana-menu-navigation:hover, .grafan-menu-navigation:hover a.main {
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

.grafana-menu-navigation a.main {
  display: block; 
  height: 30px;
  font: normal 15px/30px arial, sans-serif; 
  text-align: center; 
  text-decoration: none; 
  color: #0095bf;  
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.grafana-menu-navigation:hover a.main {
  color: rgb(255,255,255);
  background: rgb(0,149,191);
}

.grafana-menu-navigation li { 
  width: 100px; 
  height: 30px;
  background: #F7F7F7;
  font: normal 12px/30px arial, sans-serif !important; 
  color: #999;
  text-align: center;
  margin: 0;
  -webkit-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: perspective(350px) rotateX(-90deg);
  -o-transform: perspective(350px) rotateX(-90deg);
  transform: perspective(350px) rotateX(-90deg);
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.grafana-menu-navigation li:nth-child(even) { background: #F5F5F5; }
.grafana-menu-navigation li:nth-child(odd) { background: #EFEFEF; }

.grafana-menu-navigation li.n1 { 
  -webkit-transition: 0.2s linear 0.8s;
  -o-transition: 0.2s linear 0.8s;
  transition: 0.2s linear 0.8s;
}
.grafana-menu-navigation li.n2 {
  -webkit-transition: 0.2s linear 0.6s;
  -o-transition: 0.2s linear 0.6s;
  transition: 0.2s linear 0.6s;
}
.grafana-menu-navigation li.n3 {
  -webkit-transition: 0.2s linear 0.4s;
  -o-transition: 0.2s linear 0.4s;
  transition: 0.2s linear 0.4s;
}
.grafana-menu-navigation li.n4 { 
  -webkit-transition:0.2s linear 0.2s;
  -o-transition:0.2s linear 0.2s;
  transition:0.2s linear 0.2s;
}
.grafana-menu-navigation li.n5 {
  border-radius: 0px 0px 4px 4px;
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}

.grafana-menu-navigation:hover li {
  -webkit-transform: perspective(350px) rotateX(0deg);
  -o-transform: perspective(350px) rotateX(0deg);
  transform: perspective(350px) rotateX(0deg);
  -webkit-transition:0.2s linear 0s;
  -o-transition:0.2s linear 0s;
  transition:0.2s linear 0s;
}
.grafana-menu-navigation:hover .n2 {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.grafana-menu-navigation:hover .n3 {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.grafana-menu-navigation:hover .n4 {
  transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.grafana-menu-navigation:hover .n5 {
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
